[Unit]
Description=MQTT serial interface
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=python3 /home/pi/src/minigrbl/serial_interface.py
User=pi
Restart=always

